@import "fa/font-awesome";
@import "bulma/utilities/all";
@import "bulma/base/all";
@import "bulma/components/all";
@import "bulma/elements/all";
@import "bulma/grid/all";
@import "bulma/layout/all";

@import "loader";
@import "animation";
@import "screen";

.main {
  perspective: 800px;
  min-height: 100vh;
}
.fit-page {
  min-height: 100vh;
}

.fixed-bottom-right {
  bottom: 50px;
  position: fixed;
  right: 50px;
}

.bg-grey-darkest { background-color: $grey-darkest; }
.bg-grey-darker { background-color: $grey-darker; }
.bg-grey-dark { background-color: $grey-dark; }
.bg-grey { background-color: $grey; }
.bg-grey-light { background-color: $grey-light; }
.bg-grey-lighter { background-color: $grey-lighter; }
.bg-grey-lightest { background-color: $grey-lightest; }

.text-grey-darkest { color: $grey-darkest; }
.text-grey-darker { color: $grey-darker; }
.text-grey-dark { color: $grey-dark; }
.text-grey { color: $grey; }
.text-grey-light { color: $grey-light; }
.text-grey-lighter { color: $grey-lighter; }
.text-grey-lightest { color: $grey-lightest; }
