@import "fa/font-awesome";
@import "bulma/utilities/all";
@import "bulma/base/all";
@import "bulma/components/all";
@import "bulma/elements/all";
@import "bulma/grid/all";
@import "bulma/layout/all";

@import "loader";
@import "animation";
@import "screen";
@import "list";

.main {
  perspective: 800px;
  height: 100vh;
}
.scrollpane {
  overflow-y: auto;
  flex-grow: 1;
}

.flex-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grow-1 { flex-grow: 1;}
.grow-0 { flex-grow: 0;}
.fit-page {
  min-height: 100vh;
}

.fixed-bottom-right {
  bottom: 50px;
  position: fixed;
  right: 50px;
}

.image-round {
  border-radius: 1000px;
  overflow: hidden;
}

.button.is-image {
  height: auto;
}

.button.is-invisible {
  border:none;
  background: none;
  box-shadow: none;
  &:focus,
  &:active {
    border:none;
    background: none;
    box-shadow: none;
  }
}

.bg-primary { background-color: $primary; }

.bg-grey-darkest { background-color: $grey-darkest; }
.bg-grey-darker { background-color: $grey-darker; }
.bg-grey-dark { background-color: $grey-dark; }
.bg-grey { background-color: $grey; }
.bg-grey-light { background-color: $grey-light; }
.bg-grey-lighter { background-color: $grey-lighter; }
.bg-grey-lightest { background-color: $grey-lightest; }

.text-grey-darkest { color: $grey-darkest; }
.text-grey-darker { color: $grey-darker; }
.text-grey-dark { color: $grey-dark; }
.text-grey { color: $grey; }
.text-grey-light { color: $grey-light; }
.text-grey-lighter { color: $grey-lighter; }
.text-grey-lightest { color: $grey-lightest; }
