@import "bootstrap/bootstrap";
@import "fa/font-awesome";

.full-screen {
  height: 100vh;
}

a {
  cursor: pointer;
}

.fixed-b-r {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
.fixed-b-r-sm {
  @include media-breakpoint-down("sm") {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
}

.relative {
  position: relative;
}

.page-header {
  margin: 30px;

}
